mat-card.card {
  width: 600px;
  min-height: 180px;

  mat-card-header, mat-card-content {
    word-wrap: break-word;
  }

  mat-card-header, mat-card-content, mat-card-actions  {
    margin-bottom: 20px;
  }
}

